$title: calc(32 / 16 * 1rem);
$label: calc(24 / 16 * 1rem);
$text: calc(18 / 16 * 1rem);

$font: "Rubik", sans-serif;

$xbold: 700;
$bold: 600;
$normal: 400;

$primary-color: #fafafa;
$secundary-color: #1c1c1c;
$tertiary-color: #edebeb;
$result-color: #12b50d;

$padding: calc(20 / 16 * 1rem) calc(10 / 16 * 1rem);

@mixin flex-center($dir: row, $gap: 0rem){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $dir;
    gap: $gap;
}