@use "_base";

%title {
    font-family: base.$font;
    font-size: base.$label;
    font-weight: base.$xbold;
}

%label {
    font-family: base.$font;
    font-size: base.$text;
    font-weight: base.$bold;
}

%text {
    font-family: base.$font;
    font-size: base.$text;
    font-weight: base.$normal;
}

%button {
    padding: calc(10 / 16 * 1rem) calc(16 / 16 * 1rem);
    background-color: base.$result-color;
    color: base.$primary-color;
    border-radius: 0.4rem;
}

%input {
    background-color: base.$tertiary-color;
}

.app {
    width: 100%;
    max-width: 26rem;
    background-color: #fafafa;
    border-radius: 1rem;
    @include base.flex-center(column, 1rem);
}

.form {
    width: 90%;
    @include base.flex-center(column);

    &__title {
        padding: 1rem 0;
        @extend %title;
    }

    &__label {
        width: 100%;
        @extend %label;
        text-align: left;
    }

    &__input {
        @extend %input;
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
        border-radius: 0.25rem;
        width: 100%;
        @extend %text;
    }

    &__button {
        align-self: flex-start;
        @extend %button;
        text-transform: uppercase;
        letter-spacing: 0.04rem;
        font-weight: base.$bold;
    }
}

.response {
    width: 90%;
    @include base.flex-center(column);

    &__desc{
        @extend %label;
        align-self: flex-start;
    }

    &__result{
        padding: 0.5rem 1rem;
        width: 100%;
        height: calc(43 / 16 * 1rem);
        @extend %input;
        margin-bottom: 0.1rem;
        @extend %text;
    }
    
    &__details{
        @extend %text;
        color: base.$result-color;
        padding-bottom: 1rem;
    }
}